.b{
    background-image: url(Images/background.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}


.body{
    margin: 0px;
}


.f{
    height:150px;
    margin-top: 435px;
    position: absolute;

}

.boy{
    position: absolute;
    height: 205px;
    margin-top: 360px;
}

.score{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    font-family: "Arial";
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 150px;
    height: 40px;
    width: 500px;
    align-items: center;
}

.end{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("Images/Game\ Over\ Background.jpg");

    font-size: 100px;
    font-weight: bold;
    font-family: "Verdana";
    color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    visibility: hidden;
}


.btn{
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
}


.endboy{
    position: absolute;
    margin-left: -1000px;
}


.sta{
    position: absolute;
    width: 100%;
    height: 100vh;

    background-image:url(background.png);

    font-size: 50px;
    font-weight: bold;
    color:black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    visibility: hidden;
}

.P{
    color: rgb(212, 7, 7);
    font-size: 70px;
    font-family: "Franklin Gothic Medium";
    
}

.sd1{
    margin-top: -20px;
    font-size: 50px;
    color: red;
}

.sd2{
   
    margin-bottom: -10px;
    font-family: "Helvetica";
    font-size: 30px;
    
}

.sd3{
    margin-top: -20px;
    font-family: "Helvetica";
    font-size: 30px;
   
}

.sd4{
    margin-top: -50px;
    
} 
.sd5{
    position: absolute;
    height: 250px;
    margin-top: -400px;
    margin-left: -1200px;
}

.sd6{
    position: absolute;
    height: 250px;
    margin-top: -350px;
    margin-left: 800px;
}

.sd7{
    position: absolute;
    height: 250px;
    margin-top: -350px;
    margin-left: 1100px;
}

.win{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image:url("Game\ Over\ Background.jpg");

    font-size: 100px;
    font-weight: bold;
    color:red;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    visibility: hidden;
}

.win2{
    margin-top: -40px;
}


.win6{
    width: 500px;
    height: 80px;
    font-size: 50px;
    border-radius: 10px;
    background-color: green;
    border: 0px;
    color: white;
    cursor: pointer;
}

.win7{
    height: 250px;
    position: absolute;
    margin-left: -1050px;
    margin-top: 240px;
}

.win8{
    height: 250px;
    position: absolute;
    margin-left: 950px;
    margin-top: 320px;
}